<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="in.sp.beans.Address" id="addrId">

    <constructor-arg index="0" value="362, Tyagi Market, Jagrati Vihar, Sector 23"/>
    <constructor-arg index="1" value="SanjayNagar GHaziabad"/>
    <constructor-arg index="2" value="201002"/> <!-- here if we don't provide index values we will have to write in sequence as it is there in constructor -->
</bean>
    <bean class="in.sp.beans.Student" id="stdId" >
        <constructor-arg value="Krishna Tyagi"/>
        <constructor-arg value="krishna@gmail.com"/>
        <constructor-arg ref="addrId"/>

    </bean>

</beans>