<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="in.sp.beans.Address" id="addrId">
    <property name="houseNumber" value="362, Tyagi Market Jagrati vihar sector 23"/>
    <property name="pincode" value="201002"/>
    <property name="zone" value="Sanjaynagar GHAZIABAD"/>
</bean>
    <bean class="in.sp.beans.Student" id="stdId">
        <property name="name" value="Krishna Tyagi"/>
        <property name="email" value="krishna@gmail"/>
      <property name="address" ref="addrId"/>  <!--  this "ref" attribute is used to refer the object whose values we need to retrieve-->
    </bean>

</beans>