<component name="libraryTable">
  <library name="spring_jars">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../Spring Jar files/commons-logging-1.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Spring Jar files/spring-beans-6.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Spring Jar files/spring-context-6.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Spring Jar files/spring-core-6.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Spring Jar files/spring-expression-6.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>