<component name="libraryTable">
  <library name="Spring Jar files">
    <CLASSES>
      <root url="file://$USER_HOME$/Desktop/Spring Jar files" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Desktop/Spring Jar files" recursive="false" />
  </library>
</component>